.signup-btn(@border, @width, @top, @bottom){
    color: #ffffff;
    background-color: @header-font-color;
    width: @width;
    height: 14%;
    padding-top: @top;
    padding-bottom: @bottom;
    border-radius: @border;
    text-align: center;
    font-size: 18px;
}